<!DOCTYPE html>
	<head>
		<meta content="text/html"; charset='UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Reset your password</h1>
		<p>A request has been logged to reset your password, if you did not request this then you can ignore this message. If you did, you can click the link below.</p>
		<a href="<%= @url %>">Reset your password</a>
	</body>
</html>