<!DOCTYPE html>
	<head>
		<meta content="text/html"; charset='UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to my Twitter Clone</h1>
		<p>You've successfully signed up, now you just need to verify your email address. You can do so just by clicking the link below or pasting it into your browser</p>
		<a href="<%= "root_url/verify/#{user.token}" %>">Verify your account</a>
	</body>
</html>